/* General Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#cards, #ordenCompra{
  transition: box-shadow 0.3s ease-in-out;;
  
}

#cards:hover, #ordenCompra:hover{
  box-shadow: 0px 10px 20px rgba(1, 1, 103, 0.5);
  border-radius: 10px;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-img-top {
  max-width: 150px;
  height: auto;
}

.row.my-4 {
  margin-top: 50rem;
}

/* Product Information Styling */
.d-flex {
  align-items: center;
}

h5 {
  font-weight: bold;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.text-muted {
  color: #888;
}

/* Responsive Design */
@media (max-width: 768px) {
  .d-flex {
      flex-direction: column;
  }

  .me-4 {
      margin-right: 0;
      margin-bottom: 10px;
  }

  .row {
      flex-direction: column;
  }

  .col-md-4,
  .col-md-5,
  .col-md-3 {
      width: 100%;
  }
}



