/* Estilos globales */
html {
    height: 100%;
    margin: 100;   
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #BABFC9;
}


/* Estilos para la barra de navegación */
/* Estilos generales para el navbar */
nav {
    background-color: #ffffff; /* Color de fondo oscuro */
    display: flex;
    justify-content: space-between; /* Distribuye elementos a los extremos */
    padding: 15px;/* Espacio interno del navbar */
  }
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .nav-item {
    margin: 0 10px;
  }
  #navbarLeft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; /* Elimina los marcadores de lista */
    padding: 0;
    margin: 30px; /* Elimina el padding por defecto de las listas */
  }

  #navbarRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; /* Elimina los marcadores de lista */
    padding: 0;
    margin: 30px; /* Elimina el padding por defecto de las listas */
  }
  /* Estilos para los elementos del menú */
  .nav-item {
    list-style: none; /* Quita los marcadores de lista */
    margin: 0 10px; /* Espacio entre elementos */
  }
  
  .nav-link {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #333; /* Color del texto de los enlaces */
    font-size: 20px; /* Tamaño de la fuente */
    font-weight: bold; /* Fuente en negrita */
  }
  
  /* Estilos para el icono del carrito */
  .nav-link img {
    height: 20px; /* Tamaño del icono del carrito */
    margin-left: 5px; /* Espacio entre el texto y el icono */
  }
  
  /* Estilos para el botón de cerrar sesión */
  #logout {
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    color: #f00; /* Color del texto del botón */
  }
  
  /* Estilos para el usuario logeado */
  /* Aquí puedes personalizar el estilo cuando un usuario está logeado,
     por ejemplo, cambiando el color de fondo o la fuente */
  

/* Estilos para el banner principal */
.principal {
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius:  0 0 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.principal:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    transition: text-shadow 0.3s ease-in-out;
}
.principal:hover h1 {
    text-shadow: 0 5px 50px rgba(1, 1, 103, 0.5);
  }
/* Filter Bar Styles */
.filterBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.categories, .search {
    display: flex;
    align-items: center;
}

.button, .searchButton, .resetButton, .input {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out,
 box-shadow 0.3s ease-in-out;
}

.button:hover {
    background-color: #dedede;
    box-shadow: 0px 2px 5px rgba(1, 1, 103, 0.5);
}

.input:hover {
  box-shadow: 0px 2px 5px rgba(1, 1, 103, 0.5);
}
.resetButton:hover {
    background-color: #ff000090;
    box-shadow: 0px 2px 5px rgba(1, 1, 103, 0.5);
}

.searchButton:hover {
    background-color: #00ff0090;
    box-shadow: 0px 2px 5px rgba(1, 1, 103, 0.5);
}

.input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* Alinea los elementos verticalmente al centro */
  max-width: 1200px;
  margin: 30px auto;
}

.card {
  width: 300px; /* Ancho fijo para todas las tarjetas */
  height: 400px; /* Altura fija para todas las tarjetas */
  margin: 20px; /* Espacio entre tarjetas */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0px 10px 20px rgba(1, 1, 103, 0.5);
  border-radius: 10px;
  transform: scale(1.1);
}

.card-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-body {
  padding: 20px;
}
  

/* Contenedor para la sección de categorías y productos */
.cardProduct {
    /* Estilos generales para la tarjeta */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden; /* Para ocultar el exceso de contenido */
    width: 950px; /* Ajusta el ancho según tus necesidades */
  }
  
  .cardProduct img {
    /* Estilos para la imagen */
    width: 100%;
    height: 350px; /* Ajusta la altura según tus necesidades */
    object-fit:contain;
  }
  
  .cardProduct .detailProduct {
    padding: 20px;
  }
  
  .cardProduct .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .cardProduct .card-text {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
  }
  
  .cardProduct h5 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
  }
  
  .cardProduct .btn {
    /* Estilos para el botón */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color   
   0.3s ease-in-out;
  }
  
  .cardProduct .btn:hover {
    background-color: #0056b3;
  }

/* Estilos para el pie de página */
.footer {
  background-color: #f5f5f5; /* Color de fondo suave */
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

.banner_logo {
  max-width: 400px; /* Ajusta el ancho máximo según tu logo */
  margin-bottom: 20px;
}

.copyright {
  font-size: 14px;
  color: #888;
}

